body {
  background-color: rgba(37,114,156,255)
}
p {
  text-align: center;
}
h2 {
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
input {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}
img {
  border-radius: 10px;
}
button {
  border-radius: 10px;
  padding: 5px 5px;
  background-color: #96cce6
}
button:hover {
  padding: 7px;
  background-color: rgb(55, 245, 51);
}